In [5]:
import pandas as pd
import os

In [6]:
os.system('mkdir -p data/train/0')
os.system('mkdir -p data/train/1')

0

In [2]:
df = pd.read_csv('traindata.csv')

In [3]:
df

,label,HRV,meanX,stdX,magX,meanY,stdY,magY,meanZ,stdZ,magZ,step,distance,home,work,screenTime
0,1,43.32,-159.08,4.54,1591.45,456.40,34.12,4576.74,-945.37,15.45,9454.96,0,0,0,1,0.000
1,1,32.91,-121.16,1.36,1211.68,93.55,1.65,935.65,-1055.42,1.62,10554.21,0,0,0,1,0.000
2,1,32.49,-753.74,18.33,7539.63,630.17,76.01,6347.37,-230.89,118.18,2593.76,0,0,0,1,13.802
3,1,36.88,58.77,115.35,1294.60,479.15,67.98,4839.49,-948.19,42.60,9491.47,0,0,0,1,13.802
4,0,30.32,-621.45,4.46,6214.66,762.49,7.44,7625.26,-284.07,12.05,2843.26,0,0,0,1,318.749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,0,60.82,-847.65,1.77,8476.52,-333.17,1.60,3331.74,-478.64,2.62,4786.47,0,0,1,0,8.284
115,0,48.26,-827.77,1.75,8277.72,-341.15,1.94,3411.55,-509.09,2.22,5090.95,0,0,1,0,0.000
116,0,27.41,584.28,625.83,8561.83,90.00,361.58,3726.08,-96.37,490.86,5002.31,0,0,1,0,9.729
117,0,46.31,-476.75,84.68,4842.12,-616.04,396.39,7325.49,-665.01,143.01,6802.13,480,1,1,0,13.794
118,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,1,0,13.794

In [8]:
df.columns

Index(['label', 'HRV', 'meanX', 'stdX', 'magX', 'meanY', 'stdY', 'magY',
       'meanZ', 'stdZ', 'magZ', 'step', 'distance', 'home', 'work',
       'screenTime'],
      dtype='object')

In [15]:
partition_train_f = open('data/partition_train.txt', 'w')

for index, row in df.iterrows():
    if row['label'] == 1:
        f = open('data/train/1/sample_'+str(index)+'.txt', 'w')
        partition_train_f.write('data/train/1/sample_'+str(index)+'.txt\n')
    elif row['label'] == 0:
        f = open('data/train/0/sample_'+str(index)+'.txt', 'w')
        partition_train_f.write('data/train/0/sample_'+str(index)+'.txt\n')
    data = ''
    for column in df.columns:
        data += str(row[column])
        data += ','
    f.write(data[:-1])
    f.close()

partition_train_f.close()